<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jim-Server Home</title>
    <link rel="shortcut icon" href="../Static/favicon.ico" />
    <link rel="stylesheet" href="../Static/style.css">
</head>
<body>
    <div class="header">
        <h1>Welcome to Simple Server</h1>
    </div>
    <div class="main">
        <img src="../Static/MainPage.png" alt="programer outline">
    </div>
</body>
</html>